.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 40px;
}

.cart-container{
    height: 844px;
    position: sticky;
    top: 0;
}

/* .product-container {
    overflow-y: scroll; 
    height: calc(100vh - 60px); 
} */

/* .product-container::-webkit-scrollbar {
    display: none;
  } */
